@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
  background-color: #f7f6ec;  
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f6ec;
}

/* MENU DE NAVEGACION RESPONSIVO, CON BOOTSTRAP*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #5c3d2e;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    gap: 10px;
    margin-bottom: 10px;
}

.logo img {
    width: 55px;
    height: auto;
}

.span-1{
    display: block;
}

.menu-1, .menu-2{
    display: block;
}

.menu-1{
    width: 30%;
    margin-left: 20px;
    margin-right: 10px;
}

.menu-2{
    width: 70%;
    margin-right: 40px;
}

/* Botón de categorías */
.category-button {
    background-color: #5c3d2e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
}

.category-button i {
    font-size: 18px;
    background-color: #5c3d2e;
}

.category-button:hover {
    background-color: #a05a46;
}

/* Menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Menú oculto por defecto */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #fff;
    border: 2px solid #5c3d2e;
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Mostrar el menú cuando el mouse está sobre el botón o el menú */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilos de los elementos del menú */
.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #5c3d2e;
    font-size: 16px;
    display: block;
    transition: background 0.3s ease;
}

/* Cambio de color al pasar el cursor */
.dropdown-menu li a:hover {
    background-color: #f6f1e8;
}


/* Barra de búsqueda */
.search-bar {
    margin: 10px 0px 20px 0px;
    flex-grow: 1;
    /* max-width: 700px; */
    display: flex;
    align-items: center;
    border: 2px solid #5c3d2e;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
}

.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    background: none;
    font-family: 'Poppins', sans-serif;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #5c3d2e;
}

button.btn.btn-search {
    color: white;
    background-color: #a05a46;
}
button.btn.btn-search:hover {
    color: black;
    background-color: #a0594646;
}

/* Menú de navegación */
.nav-links {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    border-bottom: 3px solid #5c3d2e;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-align: center;
    margin-left: 10px;
    color: #5c3d2e;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-links a i {
    font-size: 18px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #a05a46;
    text-decoration: underline;
}

.nav-links a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5c3d2e;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar{
    visibility: hidden;
}



/* Botón de categorías */
.category-button {
    background-color: #5c3d2e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
}

.category-button i {
    font-size: 18px;
}

.category-button:hover {
    background-color: #a05a46;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #ffff;
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #5c3d2e;
    font-size: 16px;
    display: block;
    transition: background 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: #f6f1e8;
}


.search-bar {
    margin: 10px 0px 20px 0px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 2px solid #5c3d2e;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
}

.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    background: none;
    font-family: 'Poppins', sans-serif;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #5c3d2e;
}

.nav-links {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    border-bottom: 3px solid #5c3d2e;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-align: center;
    margin-left: 10px;
    color: #5c3d2e;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-links a i {
    font-size: 18px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #a05a46;
    text-decoration: underline;
}

.nav-links a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5c3d2e;
    position: absolute;
    bottom: -5px;
    left: 0;
} 

/* MEDIA QUERYS */
@media screen and (max-width: 1100px){
    .nav-links {
        gap: 0;
    }
}


@media screen and (max-width: 970px){
    .nav-links a {
        font-size: 16px;
    }
    
    .nav-links a i {
        font-size: 16px;
    }
    .category-button{
        font-size: 11px;
    }
    .logo{
        font-size: 16;
    }
}

@media screen and (max-width: 890px){
    .nav-links a {
        font-size: 14px;
    }
    
    .nav-links a i {
        font-size: 14px;
    }
    .category-button{
        font-size: 10px;
    }
}

@media screen and (max-width: 804px){
    .navbar{
        visibility: visible;
    }
    .menu-1, .menu-2{
        display: none;
    }
}


/*BANNER */
 
.banner{
    width: 95%;
    height: 700px;
    animation: banner 20s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    border-radius: 30px;
    
}

@keyframes banner{
    0%, 20%{
        background-image: url(../img/banner1\(1\).jpg)
    }
    25%, 45%{
        background-image: url(../img/banner1\(2\).jpg);
    }
    50%, 70%{
        background-image: url(../img/banner1\(3\).jpg);
    }
    85%, 100%{
        background-image: url(../img/banner1\(4\).jpg);
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
    background: none;
}
.info h1{
    color: #e0a2a2;
    font-size: 45px;
    margin-bottom: 20px;
    background: none;
    font-weight: bold;
}
.info p{
    color: #e9bfbf;
    line-height: 1.7;
    margin-bottom: 30px;
    background: none;
    font-weight: 300;
}
.info a{
    color: #5c3d2e;
    text-decoration: none;
    background-color: #e0a2a2;
    padding: 10px 30px;
    border-radius: 22px;
    display: inline-block;
    font-weight: 500;
}

/* PRODUCTOS*/
.productos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-direction: row;}
.productos h1 {
    font-size: 20pt;
    font-family: "poppins";
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    color: #5c3d2e;
    font-weight: bold;}
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;}
.productos img {
    border-radius: 25px;
    height: 250px;
    width: 250px;
    margin: 0 0 10px 0;}
.producto p {
    font-size: 1rem;
    font-weight: bold;
    color: #7a5441;
    margin: 0 0 50px;}
.producto a{
    text-decoration: none;
    color: #7a5441;}


/* Antojos*/
.Antojos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    flex-direction: column;}
.Antojos h1 {
    text-align: center;
    font-size: 30pt;
    font-family: "poppins";
    font-weight: bold;
    color:#5c3d2e;}
.Antojos a{
    text-decoration: none;
    color: #7a5441;
    font-size: 13pt;
    font-weight: bold;}
.Antojos button {
    width: 40vh;
    height: 5vh;
    margin: 5px auto 35px;
    border-radius: 22px;
    border: none;}
.Antojos h2{
    font-size: 25pt;
    margin: 50px auto 0px;
    background: none;
    font-weight:bold ;
    color: #5c3d2e;}
.Antojos p{
    background: none;
    width: 80%;
    font-size: 15pt;
    margin: 0 auto 5px;
    color: #5c3d2e;}
.Antojo {
    background: linear-gradient(to left, #e0a2a2, #e4e0df);
    padding: auto;
    width: 40%;
    height: 40%;
    border-radius: 30px;
    margin:auto;
    box-shadow: 0px 4px 10px 0px gray;
    font-family: "poppins";}
.Antojo2 {
    background: linear-gradient(to left, #e0c7a2, #ffffff);
    padding: auto;
    width: 40%;
    height: 40%;
    border-radius: 30px;
    margin: 30px auto;
    box-shadow: 0px 4px 10px 0px gray;
    font-family: "poppins";}





    /* .whatsapp{
        color: #a05a46;    
        border-radius: 30px;
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        padding: 5px;
        text-align: center;
    } */

/* FOOTER */
.footer {
    background-color: #5c3d2e;  
    color: white; 
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    background-color: #5c3d2e;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-info {
    background-color: #5c3d2e;  
    width: 50%;
    font-size: 16px;
}

.footer-info p, a.text-decoration-none.text-white.ancor{
    background-color: #5c3d2e;  
}


.footer-social, .footer-contact {
    background-color: #5c3d2e;  
    width: 25%;
    text-align: left;
}

.footer-social p, .footer-contact p {
    background-color: #5c3d2e;  
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin: 5px 0;
}

/* Íconos */
.footer i {
    background-color: #5c3d2e;  
    font-size: 18px;
}

@media (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-info, .footer-social, .footer-contact {
        width: 80%;
        margin-bottom: 15px;
    }

    .footer-social p, .footer-contact p {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer-container {
        width: 90%;
    }

    .footer-info, .footer-social, .footer-contact {
        width: 100%;
        font-size: 14px;
    }

    .footer-social p, .footer-contact p {
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    .footer-container {
        width: 95%;
        padding: 10px;
    }

    .footer-info, .footer-social, .footer-contact {
        font-size: 12px;
    }

    .footer i {
        font-size: 16px;
    }
}







